@page "/actores/crear"

<h3>CrearActor</h3>
<FormularioActores OnvalidSubnit="Crear" Actor="Actor"/>

@code {
    private Actor Actor = new Actor();

    void Crear()
    {

        Console.WriteLine("crear actor");
    }
}